/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* -----! END OF CSS RESET ! ----- */

html,
body {
  width: 100%;
  height: 100%;
  --pointer-diameter: 2rem;
  --btn-width: 140px;
  --collage-width: 600px;
}

body {
  font: 18px sans-serif, Helvetica, Arial;
}

#App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.25rem;
}

.pseudo-relative-container {
  position: relative;
  height: 0;
  width: 0;
}

.pointer {
  display: none;
  position: absolute;
  border: 0.125rem dotted #eefc57;
  height: var(--pointer-diameter);
  width: var(--pointer-diameter);
  border-radius: 50%;
  z-index: 5;
}

#park-selector-container {
  position: relative;
  width: var(--btn-width);
}

#park-selector {
  display: flex;
  flex-direction: column;
}

.choose-park-btn {
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  background-color: #d17da1;
  color: #5e5b52;
}

.choose-park-btn:hover {
  background-color: #eefc57;
}

#img-collage {
  width: var(--collage-width);
  height: auto;
}

.checkbox,
.incorrect-selection-container {
  display: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fc7a57;
  z-index: 10;
}

/* path { */
.checkbox {
  fill: #eefc57;
}

.incorrect-selection-container {
  align-items: center;
  width: auto;
  font-weight: bold;
}

.incorrect-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
}

#incorrect-icon-color {
  fill: #fc7a57;
}

/* BEGIN HEADER STYLES */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem 0;
}

#title-container {
  height: 100%;
  display: flex;
  align-items: center;
  border: 0.25rem solid #5e5b52;
}

#title-left,
#title-right {
  display: flex;
  height: 75px;
  padding: 0 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5e5b52;
}

#title-left {
  border-right: 0.25rem solid #5e5b52;
}

#title-right {
  color: #fc7a57;
}

#title-small {
  font-size: 1rem;
  color: #d17da1;
}

#logo-container {
  display: flex;
  width: var(--collage-width);
  justify-content: space-evenly;
  padding: 0.25rem 0;
}

h2 {
  color: #5e5b52;
  padding-top: 0.5rem;
}
.emblem-key {
  width: auto;
  height: 50px;
}

.target-found {
  opacity: 0.125;
}

/* !!!!!!!!----- BEGIN - GAME OVER MODAL -----!!!!! */
#gameover-modal,
#begin-modal-container {
  flex-direction: column;
  display: none;
  position: fixed;
  top: 12rem;
  align-items: center;
  width: 350px;
  background-color: rgba(232, 225, 199, 0.75);
  line-height: 2rem;
  color: #5e5b52;
  border-radius: 0.75rem;
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
}

#begin-modal-container {
  display: flex;
  justify-content: space-between;
  height: 175px;
}

#begin-modal-instructions {
  text-align: justify;
  line-height: 1.5rem;
}

#objective-decoration {
  font-weight: bold;
}

#leaderboard-container {
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0px auto;
  width: 100%;
}

thead {
  color: #5e5b52;
  font-weight: bold;
}

td {
  border-bottom: 0.125rem solid #5e5b52;
  vertical-align: middle;
  text-align: center;
}

.user-display-leaderboard {
  background-color: rgba(252, 122, 87, 0.5);
}

tr:last-child td {
  border-bottom: 0px;
}

.modal-header {
  padding: 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

#leaderboard-header {
  font-size: 1.125rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.125rem;
}

#time-finished {
  color: #d17da1;
  font-weight: bold;
}

#table-spacer-row {
  font-weight: bold;
}

.leaderboard-input {
  width: 10rem;
  height: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.leaderboard-input:focus {
  outline: none;
  border: 1px solid #5e5b52;
}

.new-game-btn,
#submit-time-btn {
  height: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #79766f;
  color: #e8e1c7;
}

#submit-time-btn {
  margin-left: 0.5rem;
}

.new-game-btn {
  height: 2rem;
  margin-top: 0.5rem;
}

.new-game-btn:hover,
#submit-time-btn:hover {
  background-color: #5e5b52;
}

/* BEGIN FOOTER CSS */
footer {
  height: 2rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #79766f;
  color: #eefc57;
  z-index: 20;
}

.footer-icon {
  fill: #eefc57;
  margin: 0 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.footer-icon:hover {
  fill: #d17da1;
}

.footer-link {
  color: #eefc57;
  height: 1.5rem;
  text-decoration: none;
}

#footer-link:visited {
  color: #eefc57;
}

#collage-link-container {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.collage-link:hover {
  color: #d17da1;
}

#contact-links {
  display: flex;
}
