html {
  height: 100%;
  width: 100%;
}

body,
#root {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* .image-container {
  position: relative;
} */

.pointer {
  position: relative;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* top: 342px; */
  /* left: 375px; */
}
