/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* -----! END OF CSS RESET ! ----- */

html,
body {
  width: 100%;
  height: 100%;
  --pointer-diameter: 2rem;
  --btn-width: 140px;
  --collage-width: 600px;
}

body {
  font: 18px sans-serif, Helvetica, Arial;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
}

.pointer {
  display: none;
  position: absolute;
  border: 0.125rem dotted #eefc57;
  height: var(--pointer-diameter);
  width: var(--pointer-diameter);
  border-radius: 50%;
}

#park-selector-container {
  position: relative;
  width: var(--btn-width);
}

#park-selector {
  display: flex;
  flex-direction: column;
}

.choose-park-btn {
  font-size: 0.75rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  background-color: #d17da1;
  color: #5e5b52;
}

.choose-park-btn:hover {
  background-color: #eefc57;
}

#img-collage {
  width: var(--collage-width);
  height: auto;
}

.checkbox,
.incorrect-selection-container {
  display: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fc7a57;
}

path {
  fill: #eefc57;
}

.incorrect-selection-container {
  /* display: none; */
  /* display: flex; */
  align-items: center;
  width: auto;
  font-weight: bold;
}

.incorrect-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
}

#incorrect-icon-color {
  fill: #fc7a57;
}

/* BEGIN HEADER STYLES */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem 0;
}

#title-container {
  height: 100%;
  display: flex;
  align-items: center;
  border: 0.25rem solid #5e5b52;
}

#title-left,
#title-right {
  display: flex;
  height: 75px;
  padding: 0 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5e5b52;
}

#title-left {
  border-right: 0.25rem solid #5e5b52;
}

#title-right {
  color: #fc7a57;
}

.title-text {
  /* height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

#title-small {
  font-size: 1rem;
  color: #d17da1;
}

#logo-container {
  display: flex;
  width: var(--collage-width);
  justify-content: space-evenly;
  padding: 0.25rem 0;
}

h2 {
  color: #5e5b52;
  padding-top: 0.5rem;
}
.emblem-key {
  width: auto;
  height: 50px;
}

.target-found {
  opacity: 0.125;
}

/* BEGIN - GAME OVER MODAL */
#gameover-modal {
  display: flex;
  flex-direction: column;
  display: none;
  position: fixed;
  /* justify-content: center; */
  align-items: center;
  width: 350px;
  height: 300px;
  background-color: rgba(94, 91, 82, 0.75);
  line-height: 2rem;
  font-weight: bold;
  color: #eefc57;
  border-radius: 0.75rem;
}
